* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "montserrat-bold";
  src: url(../font/montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "montserrat";
  src: url(../font/montserrat/Montserrat-VariableFont_wght.ttf);
}
body{
    background-color: #E8F1F9;
}
header{
    background-color: #50318d;
    color: white;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: right;
}
.logo img{
    width: 150px;
    margin: 20px 20px 20px 50px;
}
.escrita{
    display: flex;
    align-items: center;
}
.escrita img{
    margin-left: 55px;
}
.banner{
    display: flex;
    justify-content: center;
}
.midias{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 160px;
    gap: 20px;
}
.midias img{
    width: 70px;
    height: 70px;
}
.midias a:hover{
  color: #c62a52;
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 0.3s;
}
.logo a:hover{
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 0.3s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "montserrat";
    margin: 155px 0px 0px 0px;
}
footer a{
  color: currentColor;
}
footer a:hover{
  color: #0056b3;
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.3s;
}

/* ----- Informações do Jogo ----- */

main {
    padding: 40px;
    font-family: "montserrat";
    background-color: #E8F1F9;
}
section{
    margin-top: 100px;
}
.game-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.game-image img {
    max-width: 300px;
    border-radius: 8px;
}

.game-details h1 {  
    font-family: "montserrat-bold";
    font-size: 28px;
    color: #50318d;
    margin-bottom: 20px;
}

.game-details p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin: 15px;
}

.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #50318d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 17px;
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #9d4edd;
    transform: translateY(-5px);
}